
header {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: overline solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
    text-align: center;
    border-style: ridge;
    color: #778899;
  }
  
  /*Hero Content*/
  .hero {
    padding: 0;
    min-height: 500px;
    text-align: center;
    position: relative;
    background-color: #d56d4d; /* layer fill content */
    color: black;
  }
  .hero-image {
    background: url("../images/beach-pic.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
  }
  .hero-text {
    border: 5px inset hsl(204, 27%, 59%);
    border-radius: 15px 15px 15px 15px;
    background: rgba(190,208,224,0.37) none no-repeat fixed 0px 0px;
  }

  /* Personal Flavour */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  
/* Button inverted */
 
.button.inverted {
    font-size: inherit;
    padding: 15px 40px;
    color: white;
    background-color: grey;
    height: auto;
    border: 3px solid white;
    text-transform: none;
    font-size: 26px;
    font-family: "ambleregular";
  }
   
.button.inverted:hover {
    background: white;
    color: #222;
  }

/* =Section general styling
-------- */
 
section {
    text-align: center;
    padding: 80px 0;
}

.search-form {
    background: #D0E4F5 url("../images/paris-streets.jpg") no-repeat scroll 1px -50px;
}


  